parameters:
    level: max
    paths:
        - src
        - tests
services:
	-
		class: StravaObjects\PHPStan\CollectionDynamicStaticMethodReturnTypeExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension
